<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentManager.Templating" publicKeyToken="360aac4d3354074b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.1287" newVersion="8.1.0.1287" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentManager" publicKeyToken="360aac4d3354074b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.1287" newVersion="8.1.0.1287" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.Common" publicKeyToken="349a39f202fa9b53" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.150" newVersion="8.1.0.150" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentManager.Common" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.1287" newVersion="8.1.0.1287" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentManager.Publishing" publicKeyToken="360aac4d3354074b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.1287" newVersion="8.1.0.1287" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ExternalContentLibrary" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.211" newVersion="8.1.0.211" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DD4T.ContentModel" publicKeyToken="4450e3c7f68bf872" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DD4T.Serialization" publicKeyToken="4450e3c7f68bf872" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DD4T.ContentModel.Contracts" publicKeyToken="4450e3c7f68bf872" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup></configuration>
